*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# vim
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.location
.lib-*
bin-*
a.out*

/Makefile
/ranges-test/Makefile
/main
/main.opt
/sln-demo/libmemcached-win/win32/debug
/fake-sources
